<section class="heroSection d-flex align-items-center position-relative">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <h1 class="display-4 fw-bold mb-3 fancyTextAnimation" id="heroTitle">
          Your Finance Managing Partner
        </h1>
        <div class="heroAnimatedSubtitle mb-4">
          <span id="heroSubtitleWrapper">
            <span id="heroSubtitle">{{ heroSubtitleDisplay }}</span>
            <span class="brandGradientText fs-3 mt-4">CashCanvas</span>.
          </span>
        </div>
        <app-btn-primary link="/auth/login" label="Get Started Free "
          extraClasses="me-2 px-4 py-3 animate__animated animate__fadeInUp animate__delay-1s" iconClass="bi bi-arrow-right ms-2">
          <i class="bi bi-arrow-right ms-2"></i></app-btn-primary>
      </div>
      <div class="col-md-6 text-center mt-4 mt-md-0 heroImgCol">
        <img src="assets/images/landing-page/mockup_dashboard.png" alt="CashCanvas Dashboard Mockup"
          class="img-fluid rounded shadow heroMockupImg rounded-4" />
        <p class="small text-muted mt-2">Sample dashboard: track, analyze, succeed!</p>
      </div>
    </div>
  </div>
</section>