<div class="mainBg">
  <nav class="navbar row flex-column d-flex p-5 justify-content-center gap-2">
    <app-btn-submit (click)="toPracticeArea()" label="Back" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit>
    <div class="row d-flex flex-nowrap gap-2 justify-content-center">
      <app-btn-submit (click)="toRxJSDemo()" label="RxJS Demo" btnClass="btn submitBtn p-3" type="submit">
      </app-btn-submit>
      <app-btn-submit (click)="toSignals()" label="Signals" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit>
      <app-btn-submit (click)="toSignalStore()" label="Signal store" btnClass="btn submitBtn p-3" type="submit">
      </app-btn-submit>
    </div>
    <div class="row d-flex flex-nowrap gap-2 justify-content-center">
      <app-btn-submit (click)="toTrackBy()" label="TrackBy in ngFor" btnClass="btn submitBtn p-3" type="submit">
      </app-btn-submit>
      <!-- <app-btn-submit (click)="toChangeDetection()" label="Change Detection" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit> -->
    </div>
    <div class="row d-flex flex-nowrap gap-2 justify-content-center">
      <app-btn-submit (click)="toGenericList()" label="Generic List" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit>
      <app-btn-submit (click)="toGenericGrid()" label="Generic Grid" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit>
    </div>
    <div class="row d-flex flex-nowrap gap-2 justify-content-center">
      <app-btn-submit (click)="toGenericPaginationAndFilters()" label="Generic Pagination & Filters" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit>
      <app-btn-submit (click)="toGenericModal()" label="Generic Modal" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit>
      <app-btn-submit (click)="toGenericTab()" label="Generic Tab" btnClass="btn submitBtn p-3" type="submit"></app-btn-submit>
    </div>
    <div class="row d-flex flex-nowrap gap-2 justify-content-center">
      <div class="light-theme-demo">
        <lib-generic-button
          [config]="getButtonConfig()"
          (do)="onAction($event)">
        </lib-generic-button>
      </div>
    </div>
    <div class="row d-flex flex-nowrap gap-2 justify-content-center">
      <div class="light-theme-demo">
        <lib-generic-button
          [config]="getButtonConfig()"
          (do)="showSidebar($event)">
        </lib-generic-button>
      </div>
    </div>
  </nav>
  <div class="flipContainer w-100" id="flipContainer">
    <div class="flipper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
