:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* #region Base Styles */
body, html {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  font-size: 15px;
  transition: background 1.4s cubic-bezier(0.6,0.7,0.4,1);
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
/* #endregion */

.fancyTextAnimation {
  opacity: 0;
  transform: translateY(30px);
  animation: fancyFadeInUp 1.2s forwards;
}
.fancyTextAnimation:nth-child(1), #heroTitle { animation-delay: .2s; }
.fancyTextAnimation:nth-child(2), #whyChooseTitle { animation-delay: .5s; }
.fancyTextAnimation:nth-child(3), #howItWorksTitle { animation-delay: .7s; }
.fancyTextAnimation:nth-child(4), #snapshotsTitle { animation-delay: .9s; }
.fancyTextAnimation:nth-child(5), #devConversationTitle { animation-delay: 1.1s; }
.fancyTextAnimation:nth-child(6), #ctaTitle { animation-delay: 1.3s; }
@keyframes fancyFadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
      letter-spacing: 0px;
  }
}
h2.brandGradientText, .fancyTextAnimation {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
h2.brandGradientText::after, .fancyTextAnimation::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #8e71fb 30%, #4376fa 70%);
  border-radius: 2px;
  margin: 8px auto 0 auto;
  transition: width 0.4s cubic-bezier(.87,-0.41,.19,1.44);
}
h2.brandGradientText:hover::after, .fancyTextAnimation:hover::after,
h2.brandGradientText:focus::after, .fancyTextAnimation:focus::after {
  width: 70%;
}
@media screen and (max-width: 650px) {

}