<div class="filter-container">
  <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="onFilterChange()" />

  <select [(ngModel)]="selectedSort" (change)="onFilterChange()">
    <option value="">Sort by...</option>
    <option *ngFor="let sort of sortOptions" [value]="sort.value">{{ sort.label }}</option>
  </select>

  <ng-container *ngFor="let filter of filters">
    <div *ngIf="filter.type === 'text'">
      <input type="text" [placeholder]="filter.label" [(ngModel)]="filterValues[filter.key]" (input)="onFilterChange()" />
    </div>
    <div *ngIf="filter.type === 'select'">
      <select [(ngModel)]="filterValues[filter.key]" (change)="onFilterChange()">
        <option value="">{{ filter.label }}</option>
        <option *ngFor="let opt of filter.options" [value]="opt.value">{{ opt.label }}</option>
      </select>
    </div>
    <div *ngIf="filter.type === 'checkbox'">
      <label>
        <input type="checkbox" [(ngModel)]="filterValues[filter.key]" (change)="onFilterChange()" />
        {{ filter.label }}
      </label>
    </div>
  </ng-container>
</div>