/* Custom scrollbar for Webkit browsers (Chrome, Edge, Safari, Opera) */
::-webkit-scrollbar {
  width: 10px;
  background: #f5f5fa;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: linear-gradient(90deg, #ee8afb 10%, #8e71fb 70%, #4376fa 100%);
  box-shadow: 0 0 8px #8e71fb33;
  transition: background 0.4s cubic-bezier(.87,-0.41,.19,1.44);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #8e71fb 10%, #4376fa 70%, #ee8afb 100%);
}

::-webkit-scrollbar-track {
  background: #f5f5fa;
  border-radius: 6px;
}

/* For Firefox */
* {
  scrollbar-color: #8e71fb #f5f5fa; /* thumb color, track color */
  scrollbar-width: thin;
}

.hyperLink {
  color: #b5b6d1;
  text-decoration: underline;
  transition: color 0.18s;
  cursor: pointer;
}
.hyperLink:hover {
  color: #8e71fb;
}